---
import BaseLayout from '../../../layouts/Tools.astro';
import JsonFormatter from './json-view';
---

<BaseLayout
  title='View formatted JSON data'
  description='This page allows you to view formatted JSON data as a tree with color highlighting'
  activeNav='tools'
>
  <h2>Format JSON data</h2>
  <JsonFormatter client:load />
</BaseLayout>
