---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import JsonFormatter from './json-view.tsx';
---

<BaseLayout title="View Json Data" description="" permalink="" image={''}>
  <h2>View Json Data</h2>
  <JsonFormatter client:load />
</BaseLayout>
