---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import JsonFormatter from './json-view.tsx';
---

<BaseLayout seo={{ title: 'View Json Data' }}>
  <h2>View Json Data</h2>
  <JsonFormatter client:load />
</BaseLayout>
