---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h2>Developer Tools</h2>
  <ul>
    <li>
      <a href="/tools/github-forks">GitHub Forks</a>
    </li>
    <li>
      <a href="/tools/json-view">Json View</a>
    </li>
    <li>
      <a href="/tools/pomodoro">Pomodoro Timer</a>
    </li>
  </ul>
</BaseLayout>
