<div class="bg-accent-1 z-50 w-full px-5 py-2 flex justify-evenly items-center">
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/anyroad"
    class="mx-3 hover:underline"
  >
    <img src="/icons/github.svg" class="pr-2 inline" />Github
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://www.linkedin.com/in/andrei-alikov-461aa623/"
    class="mx-3 hover:underline"
  >
    <img src="/icons/linkedin.svg" class="pr-2 inline" />LinkedIn
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://twitter.com/anyroaddev"
    class="mx-3 hover:underline"
  >
    <img src="/icons/twitter.svg" class="pr-2 inline" />Twitter
  </a>
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://stackoverflow.com/users/17562327/andy"
    class="mx-3 hover:underline"
  >
    <img src="/icons/stackoverflow.svg" class="pr-2 inline" />Stack Overflow
  </a>
</div>
