<header
  class="bg-white fixed z-50 w-full px-5 py-2 flex justify-evenly items-center top-0"
  style="height: 95px; padding-bottom: 15px;"
>
  <a href="/blog" class="mx-3 font-bold hover:underline">
    <img src="/icons/blog.svg" /> Blog
  </a>
  <a href="/" class="mx-3 font-bold hover:underline">
    <img src="/icons/about.svg" /> About me
  </a>
  <a href="/tools" class="mx-3 font-bold hover:underline">
    <img src="/icons/tools.svg" /> Tools
  </a>
  <a href="/projects" class="mx-3 font-bold hover:underline">
    <img src="/icons/projects.svg" /> Projects
  </a>
</header>
