---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import GitHubForks from './github-forks.tsx';
---

<BaseLayout seo={{ title: 'Browse GitHub Forks' }}>
  <h2>Browse GitHub Forks</h2>
  <GitHubForks client:load />
</BaseLayout>
