---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import GitHubForks from './github-forks.tsx';
---

<BaseLayout title="Browse GitHub Forks" description="" permalink="" image={''}>
  <h2 style="margin-top: 1em;">Browse GitHub Forks</h2>
  <GitHubForks client:load />
</BaseLayout>
