---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import Pomodoro from './pomodoro-timer.tsx';
---

<BaseLayout seo={{ title: 'Simple Pomodoro technique implementation' }}>
  <h2>Set Pomodoro Timer</h2>
  <Pomodoro client:load />
</BaseLayout>
