.json-input {
  padding: 2px 8px;
  width: 100%;
  border: none;
  background-color: #daded4;
}

.button {
  background-color: #164a41;
  border: none;
  color: #ffffff;
  padding: 12px 26px;
  @apply m-1 rounded;
}

.label {
  color: #164a41;
  @apply text-lg font-bold antialiased;
}

.error-label {
  color: #f1b24a;
  @apply text-lg;
}
