---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {seo} />

    <style>
      .content {
        margin-top: 95px;
        margin-bottom: 8rem;
      }
    </style>
  </head>

  <body>
    <Header />
    <div class="wrapper">
      <main class="content">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
