---
import BaseLayout from './BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const { content } = Astro.props;
const { title, seo, publishDate, heroImage, alt, permalink, description } = content;
---

<BaseLayout
  seo={{
    ...seo,
    title,
    description,
    openGraph: {
      basic: {
        title: title,
        type: 'website',
        image: heroImage || '',
        url: permalink
      }
    }
  }}
>
  <div class="wrapper">
    <BlogPost {title} {heroImage} {publishDate} {alt}>
      <slot />
    </BlogPost>
  </div>
</BaseLayout>
