---
import BaseLayout from './BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import dayjs from 'dayjs';

import 'prismjs/components/prism-javascript';
import 'prismjs/components/prism-typescript';
import 'prismjs/components/prism-jsx';
import 'prismjs/components/prism-tsx';
import 'prismjs/components/prism-java';
import 'prismjs/components/prism-kotlin';
import 'prismjs/components/prism-go';
import 'prismjs/components/prism-css';
import 'prismjs/components/prism-bash';
import '../styles/prism.css';

const { content } = Astro.props;
const { title, seo, pubDate, heroImage, alt, permalink, description, tags, ogTitle } = content;

const publishDateLongFormat = dayjs(pubDate, 'YYYY-MM-DD').format('DD MMM YYYY');
---

<BaseLayout
  seo={{
    ...seo,
    title,
    description,
    openGraph: {
      basic: {
        title: ogTitle,
        type: 'article',
        image: heroImage || '',
        url: permalink
      },
      article: {
        publishedTime: pubDate,
        author: 'anyroad.dev',
        section: 'programming',
        tags: tags
      },
      optional: {
        description: description,
        locale: 'en_US',
        localeAlternate: ['en_GB']
      }
    },
    twitter: {
      card: 'summary',
      site: '@anyroaddev',
      creator: '@anyroaddev'
    }
  }}
>
  <div class='wrapper'>
    <BlogPost {title} {heroImage} pubDate={publishDateLongFormat} {alt}>
      <slot />
    </BlogPost>
  </div>
</BaseLayout>
