---
import BaseLayout from './BaseLayout.astro';

const { title, heroImage, permalink, description, header } = Astro.props.content;
---

<BaseLayout
  seo={{
    title,
    description,
    openGraph: {
      basic: {
        title: title,
        type: 'website',
        image: heroImage || '',
        url: permalink
      }
    },
    optional: {
      description: description,
      locale: 'en_US',
      localeAlternate: ['en_GB']
    },
    twitter: {
      card: 'summary',
      site: '@anyroaddev',
      creator: '@anyroaddev'
    }
  }}
>
  <div class="wrapper">
    <h1>{header}</h1>
    <slot />
  </div>
</BaseLayout>
