---
import BaseLayout from './BaseLayout.astro';

const { title, heroImage, permalink, description } = Astro.props.content;
---

<BaseLayout
  seo={{
    title,
    description,
    openGraph: {
      basic: {
        title: title,
        type: 'website',
        image: heroImage || '',
        url: permalink
      }
    }
  }}
>
  <div class="wrapper">
    <slot />
  </div>
</BaseLayout>
